.background-color {
    background-color: bisque;
    background-position: 100%;
}

.image-container > img {
    width: 150px;
    height: 220px;
    margin: auto;
    display: block;
    justify-content: center;
}

.info > h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

.info > h1> span{
    background-color: black;
    color: white;
}

.info > p {
    text-align: center;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;

}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.buttons button {
    width: 160px;
    padding: 14px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.buttons button.first {
    color: white;
    background: black;
}

.buttons button.first:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.buttons button.second {
    color: gray;
    background-color: white;
    border: 2px solid gray;
}

.buttons button.second:hover {
    color: white;
    background-color: grey;
}

@media only screen and (min-width: 600px) {
    .home-page {
        display: flex;
        margin: 0 60px;
    }

    .image-container > img {
        width: 260px;
        height: 350px;
    }
}

.wrap {
    display: flex;
}