.background-color {
background-color: grey;
background-position: 100%;
}

p {
    font-size: 60px;
    font-weight: bolder;
}
.hello > h1 {
    font-size: 180px;
    text-align: center;
    text-decoration: none;
    margin-top: 130px;
    margin-bottom: 0px;

}
 
.hello > p {
    color: Pink; 
  font-family: "Courier";
  text-align: center;
  font-size: 70px;
  margin: 0;
}

@media only screen and (max-width: 800px) {

    nav {
        min-width: 600px;
        margin: 0 auto;
        display: flex;
    }

    nav > .logo {
        display: inline-block;
        background-color: yellow;
    }
.hello > h1 {
    font-size: 80px;
    text-align: center;
    text-decoration: none;
    margin-top: 90px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;

}
 
.hello > p {
    color: Pink; 
  font-family: "Courier";
  text-align: center;
  font-size: 40px;
  margin: 0;
}
}