nav {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

nav > .logo {
    display: none;
}

nav > ul {
    display: flex;
    padding: 20 20px;
    margin: 0px;
    list-style: none;
    box-sizing: content-box;
    position: relative;
    flex-direction: row;
    align-items: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    padding: 10px;   
    margin-right: 10px;
}

@media only screen and (min-width: 600px) {
    nav {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
    }

    nav > .logo {
        display: inline-block;
        background-color: yellow;
    }
}